/* @import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,400i,800,800i&display=swap'); */
@font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 400;
	src: url(fonts/ssp.woff2) format('woff2');
  }
  @font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 400;
	src: url(fonts/sspi.woff2) format('woff2');
  }
  @font-face {
	font-family: 'Source Serif Pro';
	font-style: normal;
	font-weight: 800;
	src: url(fonts/sspb.woff2) format('woff2');
  }
  @font-face {
	font-family: 'Source Serif Pro';
	font-style: italic;
	font-weight: 800;
	src: url(fonts/sspbi.woff2) format('woff2');
  }

@media only screen and (max-width: 599px) { 
	footer p, p::before {display: none;}
	/* #title, #centerer, #container {width:100%;margin-left:0;margin-right:0;padding-left:0;padding-right:0;} */
} 

@media only screen and (max-width: 799px) { 
	#title {background-image: none !important;}	/* #title, #centerer, #container {width:100%;margin-left:0;margin-right:0;padding-left:0;padding-right:0;} */
} 


:root {
	--gradient: linear-gradient(
	30deg,
	#099cec,
	/* #ffc75f, */
	/* #201547, */
	/* #ff6f91 */
	/* #d65db1, */
	#845ec2,
	#582c83,
	/* #ff9671 */
	#d83e57
	);
	}

/* 	#201547, #582c83 */

* {
	font-family: 'Source Serif Pro', serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI';
	padding: 0;
	margin: 0;
/*
	font-size: calc([minimum size px] + ([maximum size (nopx)] - [minimum size (nopx)]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width])));
	font-size: calc(10px + (19 - 10) * ((100vw - 320px) / (900 - 320)));
*/
	font-size: clamp(16px, 1.6vw, 5vw);
}

body {
	background-color: #f1f0f0;
}

@keyframes bg-animation {
	0% {background-position: left;}
	100% {background-position: right;}
}

p {
	/* line-height: calc(30px + (40 - 30) * ((100vw - 750px) / (1600 - 750))); */
	line-height: 1.4rem;
	position: relative;
}

p span {cursor: pointer;}

#citation {
	font-size: .75rem;
	color: #CA1E47;
	width: 3.5rem;
	font-feature-settings: "lnum", "tnum";
	text-align: right;
	display: inline-block;
	padding-right:.5rem;
}

.smallcaps {
	font-feature-settings: "c2sc", "smcp";
}

#container span:hover{
	/* text-underline-offset: 3pt;
	text-decoration-color: #213450;
	text-decoration-thickness: 3px;
	text-decoration-skip-ink: auto; */
	/* border-bottom: 3px dotted #CA1E47; */
	color: #CA1E47;
}

.indent {
	text-indent: 1.5rem;
}

.center {
	text-align: center;
}

.entry{
	font-weight: bold;
	font-size: 1.1rem;
	line-height: 1.3rem;
}

em {
	font-style: italic;
	font-size: inherit;
}

b {
	color: #CA1E47;
	font-weight: bold;
	font-size: .75rem;
}

body .same-width {
	box-sizing: border-box;
	width: 30rem;
	margin: 0 auto;
	display: block;
	padding:0 25px;
}

#centerer {
	/* box-sizing: border-box; */
	display: flex;
	align-items: center;
	top:0;
	left:0;
	padding: 25px 0 25px 25px;
	background-color: #e3f9ff;
	/* box-shadow: -2px 2px 2px 0px #133441; */
	border-bottom: 1px solid #041344;
	/* border-top: 1px solid #041344; */
	position: -webkit-sticky;
	position: sticky;
	overflow: hidden;
	height: 3rem;
	z-index: 250;
}

#info{
	position:relative;
	list-style-type: none;
	line-height: .9rem;
	/* overflow-x: hidden; */
	margin: auto;
	width: 30rem;
	padding-left: 25px;
}

#infobox{
	font-size:1rem;
	opacity:.2;
	/* text-align:center; */
	/* margin-left:-100px; */
}

#info li, a {
	font-size: .8rem;
	color: #041344;
	text-decoration: none;
}

#title {
	font-weight: normal;
	font-size: 1.1rem;
	line-height: 1rem;
	padding: 30px 25px 25px;
	/* text-align: center; */
	background-color:#099cec;
	/* animation-fill-mode: forwards; */
	color: #ffffff;
	background-image: url("fu-cl-ed.svg");
	background-repeat: no-repeat;
	background-position: 2% 50%;
	background-size: 158px auto;
}

#container {
	margin: 60px auto 150px;
	width: 30rem;
}

section {
	padding: 25px 25px;
	/* margin-left: 3rem; */
	background-color: #ffffff;
	border-radius: 3px;
}

/* p {
	text-align: justify;
	text-align-last: left;
	-webkit-hyphens: auto;
	-webkit-hyphenate-limit-before: 3;
	-webkit-hyphenate-limit-after: 3;
	-webkit-hyphenate-limit-chars: 6 3 3;
	-webkit-hyphenate-limit-lines: 2;
	-webkit-hyphenate-limit-last: always;
	-webkit-hyphenate-limit-zone: 8%;
	-moz-hyphens: auto;
	-moz-hyphenate-limit-chars: 6 3 3;
	-moz-hyphenate-limit-lines: 2;
	-moz-hyphenate-limit-last: always;
	-moz-hyphenate-limit-zone: 8%;
	-ms-hyphens: auto;
	-ms-hyphenate-limit-chars: 6 3 3;
	-ms-hyphenate-limit-lines: 2;
	-ms-hyphenate-limit-last: always;
	-ms-hyphenate-limit-zone: 8%;
	hyphens: auto;
	hyphenate-limit-chars: 6 3 3;
	hyphenate-limit-lines: 2;
	hyphenate-limit-last: always;
	hyphenate-limit-zone: 8%;
} */

p+p {
	margin-top: 1.5rem;
}

section+section {
	margin-top: 1.5rem;
}

header {
	font-variant-numeric: oldstyle-nums proportional-nums;
	letter-spacing: 1.75px;
	/* font-variant-caps: all-small-caps; */
	font-feature-settings: 'c2sc', 'smcp', 'onum', 'pnum';
}

/* h2::after {
	position: absolute;
	content: "——————";
	padding: 0px 10px;
} */

h1+section {
	margin-top: 20px;
}

/*section p:nth-child(odd){
	text-indent:1.5rem;
}*/

footer {
	box-sizing: content-box;
	/* position: fixed; */
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin:0;
	padding:0;
	width:100vw;
	max-width: 100%;
	left:0;
	bottom:0;
	background-image: var(--gradient);
	background-size: 150%;
	animation: bg-animation 15s infinite alternate;
	/* background-color: #041344; */
	/* background-color: #582c83; */
	height:60px;
	color: white;
}
footer > p, object {
	padding: 0 35px;
}
footer a {
	color:white;
	text-decoration: none;
	font-size: .5rem;
}